body {
    text-align: center;
    padding: 1rem;

}
h1 {
    margin: 50vh 0 50vh;
    /* color: #fff;
    display: inline-block;
    background: #0bd;
    /* background-image: linear-gradient(90deg, #0bd, #0bd 50%, #fff 50%, #fff);
    background-size: 200% 100%; */
    /* padding: 6rem 3rem;
    border-radius: 50%; */
}
img {
    max-width: 100%;
}
.grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1020px;
    margin: auto;
    padding: 30px;
}
.img-item {
    opacity: 0;
    filter: blur(20px);
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}